<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Phase Two Contests</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/fav.png" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- TimeCircles css -->
    <link rel="stylesheet" type="text/css" href="../static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js"  th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <![endif]-->
</head>
<body>
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->
<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2>Phase Two Contests</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a href="index.html" th:href="@{/}" >Home /</a>Two</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- Contest Phase One Gallery Start Here -->
<div class="home-gellary-area pt-90 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Photo Contests Currently <span> Being Reviewed </span> By The Jury</h2>
                    <img src="../static/images/line.png" th:href="@{/images/line.png}" alt="line image">
                </div>
            </div>
            <div class="home-about-photo-contest-area pt-100 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mb-50" th:each="contest : ${contests}">
                            <div class="single-section text-center">
                                <div class="section-img">
                                    <img src="../static/images/contest/big1.jpg"
                                         th:if="${contest.getCoverPhoto() == null}"
                                         th:src="@{/images/contest/big1.jpg}" alt="single Images"  />
                                    <img src="../static/images/contest/big1.jpg"
                                         th:unless="${contest.getCoverPhoto() == null}"
                                         th:src="${contest.getCoverPhoto().getPath()}" alt="single Images"  />
                                </div>
                                <h3 class="headding-title" th:text="${contest.getTitle()}" >Black And White Compositions</h3>
                                <ul id="meta-text">
                                    <li class="date" th:text="${contest.getCreationTime().getDayOfMonth()} + ' '
								+ ${contest.getCreationTime().getMonth()}
                             + ' ' + ${contest.getCreationTime().getYear()}" ><i class="fa fa-calendar-check-o"></i> MAR 30, 2018</li>
                                    <li class="date" th:text="${contest.getPhaseTwoExpiration().getDayOfMonth()} + ' '
								+ ${contest.getPhaseTwoExpiration().getMonth()}
                             + ' ' + ${contest.getPhaseTwoExpiration().getYear()}"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> MAY 25, 2018</li>
                                </ul>
                                <div class="countdown-section">
                                    <div class="row">
                                        <div class="offset-md-3 offset-sm-3 col-sm-6">
                                            <div class="CountDownTimer" data-timer="4500000" th:data-timer="${contest.calculatePhaseTimeDiff()}" ></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="des" th:text="${contest.getCategory().getName()}" >Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
                                <div class="link-section">
                                    <a href="single-contest2.html" class="read-btn primary-btn" th:href="@{/contests/{id}(id=${contest.getId()})}">View contest</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contest Phase One Gallery End Here -->

<!-- Footer Area Section Start Here -->
<div th:replace="fragments/general.html::footer"></div>
<!-- Footer Area Section End Here -->
<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js"  th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js"  th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js"  th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js"  th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js"  th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js"  th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>