<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/general.html::head (title = 'Entry')"></div>
<body class="home" onload="SetDefaultValue()">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="fragments/general.html::header"></div>
<!--Header area end here-->
<!-- Photo Details Start Here -->
<div class="photo-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12" style="width: 100%">
                <div class="photo-details-area">
                    <img src="images/photo/2.jpg" th:src="@{${entry.getPhoto().getPath()}}" alt="">
                </div>
                <div class="photo-details">
                    <ul>
                        <li th:text="${entry.getParticipant().getFirstName()}
                        + ' ' + ${entry.getParticipant().getLastName()} "><i class="fa fa-user"></i> John Doe
                        </li>
                        <li th:text="${entry.getContest().getCategory().getName()}">
                            <i class="fa fa-archive"></i> Uncategories
                        </li>
                        <a th:href="@{/contests/{id}(id=${entry.getContest().getId()})}" ><li  th:text="${entry.getContest().getTitle()}">
                            Contest</a>
                        </li>
                        <li th:if="${isJury}"><a href="upload-photo.html"
                                                 th:href="@{__${#httpServletRequest.requestURI}__/delete}"
                                                 class="joni-btn primary-btn">Delete Entry</a></li>
                    </ul>
                </div>
                <div class="photo-content">
                    <h3 th:text="${entry.getTitle()}">Its Aswesome and Eye Eatching Photo</h3>
                    <p th:text="${entry.getStory()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Obsecro,
                        inquit, Torquate, haec dicit Epicurus? Virtutis, magnitudinis animi, patientiae, fortitudinis
                        fomentis dolor mitigari solet. Septem autem illi non suo, sed populorum suffragio omnium
                        nominati sunt. Duo Reges: constructio interrete. Minime vero istorum quidem, inquit. Non est
                        ista, inquam, Piso, magna dissensio. </p>
                    <ul>
                        <li th:text="${entry.getContest().getTitle()}"><span>Contest : </span> 900*500</li>
                        <li th:text="${entry.getContest().getEntries().size()}"><span>Participants : </span> 78451</li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 acurate">
                    <div class="single-blog-page-area single-news-page">
<!--                        TODO Facebook share button after implementation-->
<!--                        <div class="row content-info">-->
<!--                            <div class="col-lg-6 col-md-6 col-sm-12 text-right">-->
<!--                                <div class="blog-content-share-social-icons">-->
<!--                                    <ul>-->
<!--                                        <li><span>Share: </span></li>-->
<!--                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row author-post">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="about-author-post">
                                    <h2>About Post Author</h2>
                                    <div class="single-author-post">
                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img src="images/contester/1.jpg" alt="">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"
                                                    th:text="${entry.getParticipant().getFirstName()}
                        + ' ' + ${entry.getParticipant().getLastName()} ">Girt Hat</h4>
                                                <ul>
                                                    <li th:text="${entry.getParticipant().getRankingAsString()}">
                                                        <span>Ranking : </span> 900*500
                                                    </li>
                                                    <li th:text="${entry.getParticipant().getPoints()}"><span>Current points : </span>
                                                        78451
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:if="${isJury} and ${canShow}">

                            <div th:if="${entry.isRatedBy(loggedUser)}">
                                <h4>You have already reviewed this photo: <p th:text="${entry.getRatingFor(loggedUser)}"></p>
                                </h4>
                            </div>

                            <div class="leave-comments-area" th:unless="${entry.isRatedBy(loggedUser)}">
                                <h4>Review Entry</h4>
                                <div class="col-lg-12 col-md-12 mb-md-30">
                                    <form th:object="${review}" method="post">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="number" th:field="*{score}"
                                                               onkeyup=imposeMinMax(this) id="initialNumber" min="1"
                                                               max="10" value="1">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                    <textarea cols="40" rows="10" class="textarea form-control"
                                                              th:field="*{comment}"
                                                              placeholder="Please enter а comment for the review"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-label-dropdown mb-3">
                                                    <select th:field="*{wrongCategory}" style="width: 340px"
                                                            id="wrong-category-select">
                                                        <option th:value="0"
                                                                th:text="Is + ' ' + the + ' ' + photo + ' ' + in + ' ' + the + ' ' + wrong + ' ' + category + '?'"
                                                                disabled selected>
                                                            Is the photo in the wrong category?
                                                        </option>
                                                        <option value="false">No</option>
                                                        <option value="true">Yes</option>
                                                    </select>
                                                    <p class="error" th:errors="*{wrongCategory}"></p>
                                                </div>
                                                <div class="col-lg-12 form-group">
                                                    <div class="form-row margin-bottom-15">
                                                        <label class="form-label">
                                                            <b>If you deem the photo offensive, not matching contest
                                                                category
                                                                or otherwise inappropriate, please choose "Yes" from the
                                                                drop-down menu.
                                                            </b></label>
                                                    </div>

                                                    <div class="form-row margin-bottom-15">
                                                        <label class="form-label">
                                                            <b>Only one review per juror is allowed. In case you
                                                                leave a photo unevaluated,
                                                                a default score of 3 will be awarded. Be
                                                                mindful!</b>
                                                        </label>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <button class="btn-send" type="submit">Submit review
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>

                                        <div style="width: 100%; text-align: center">
                                            <label class="error" style="color: red; position: center"
                                                   th:errors="*{score}">Score
                                                error placeholder</label>
                                            <label class="error" style="color: red; position: center"
                                                   th:errors="*{comment}">Comment
                                                error placeholder</label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div th:if="${canShowFinal}">
                            <h4 th:text="Final + ' ' + score + ' ' + for + ' ' + this + ' ' + photo + ' ' + is + ' ' +   (${finalScore})"></h4>
                            <div class="row author-post">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="about-author-post">
                                        <div class="single-author-post">
                                            <div class="media">
                                                <div class="media-body" th:each="review : ${entryReview}">
                                                    <h4 class="media-heading"
                                                        th:text="#{entry.score(${review.getScore()})}">Photo Score</h4>
                                                    <ul>
                                                        <li th:text="#{entry.comment(${review.getComment()})}">Photo
                                                            comment
                                                        </li>
                                                        <li th:text="#{entry.juror(${review.getJuror().getUsername()})}">
                                                            Photo
                                                            Juror
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Photo Details End Here -->
<!-- Footer Area Section Start Here -->
<div th:replace="fragments/general.html::footer"></div>
<!-- Footer Area Section End Here -->

<!-- jquery latest version -->
<script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
<!-- bootstrap js -->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- owl.carousel js -->
<script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
<!-- meanmenu js -->
<script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<!-- jquery-ui js -->
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<!-- wow js -->
<script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
<!-- jquery.counterup js -->
<script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
<!-- jquery light box -->
<script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
<!-- isotope.pkgd.min js -->
<script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
<!-- imagesloaded.pkgd.min js -->
<script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<!-- magnific popup -->
<script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<!-- jQuery MixedIT Up -->
<script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Counter Down js -->
<script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
<!-- jQuery Multistep form -->
<script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
<!-- jquery.fancybox.pack js -->
<script src="../static/inc/fancybox/jquery.fancybox.pack.js" th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
<!-- plugins js -->
<script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
<!-- jquery weave effects -->
<script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
<!-- TimeCircles js -->
<script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
<!-- main js -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script>
    function SetDefaultValue() {
        var PopulateField = document.getElementById("initialNumber").value = "1";
    }

    function imposeMinMax(el) {
        if (el.value != "") {
            if (parseInt(el.value) < parseInt(el.min)) {
                el.value = el.min;
            }
            if (parseInt(el.value) > parseInt(el.max)) {
                el.value = el.max;
            }
        }
    }
</script>
</body>
</html>