<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>Shooter | Winners</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/fav.png" th:href="@{/images/fav.png}">
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <!-- font-awesome css -->
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"
              th:href="@{/css/font-awesome.min.css}">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" href="../static/css/animate.css" th:href="@{/css/animate.css}">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
        <!-- meanmenu css -->
        <link rel="stylesheet" type="text/css" href="../static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
       <!-- lightbox css -->
        <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
        <!-- TimeCircles css -->
        <link rel="stylesheet" type="text/css" href="../static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
        <!-- responsive css -->
        <link rel="stylesheet" type="text/css" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
        <!-- modernizr css -->
        <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
                th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
                th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
        <![endif]-->
    </head>
    <body>
    <!--Preview area start here-->
    <div class="template-preloader-rapper">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--End preview here -->
        <!--Header area start here-->
        <div th:replace="fragments/general.html::header"></div>
        <!--Header area end here-->

        <!-- Inner Page Header serction start here -->
        <div class="inner-page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-title">
                            <h2>Winners</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-locator">
                            <ul>
                                <li><a th:href="@{/}" href="index.html">Home /</a> Winners</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Page Header serction end here -->

        <!-- Winner Start Here -->
        <div class="winner-area pt-100 pb-90" th:unless="${winners.isEmpty()}">
            <div class="container">
                <div class="row" th:each="contest : ${winners.keySet()}" >
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30"
                         th:unless="${winners.get(contest).get(1) == null}"
                         th:each="firstPlace : ${winners.get(contest).get(1)}" >
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/winners/1.jpg"
                                                th:src="${firstPlace.getPhoto().getPath()}" alt="Image"></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <a th:href="@{/users/{id}(id=${firstPlace.getParticipant().getId()})}">
                                        <h4 th:text="${firstPlace.getParticipant().getFirstName()} + ' '
                                         + ${firstPlace.getParticipant().getLastName()}" >

                                                Robert Mickel John</h4></a>
                                        <a th:href="@{/entries/{id}(id=${firstPlace.getId()})}"> <span th:text="${firstPlace.getTitle()}" >
                                                Light Weight Image
                                        </span>  </a>
                                        <p><i class="fa fa-trophy"></i> First Position</p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" style="color: black"
                               th:href="@{/contests/{id}(id=${contest.getId()})}">
                                <h3 th:text="${contest.getTitle()}" >
                                Modern Architecture</h3></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30"
                         th:unless="${winners.get(contest).get(2) == null}"
                         th:each="secondPlace : ${winners.get(contest).get(2)}" >
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/winners/2.jpg"
                                                 th:src="${secondPlace.getPhoto().getPath()}" alt="Image"></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <a th:href="@{/users/{id}(id=${secondPlace.getParticipant().getId()})}">
                                        <h4 th:text="${secondPlace.getParticipant().getFirstName()} + ' '
                                         + ${secondPlace.getParticipant().getLastName()}" >

                                                Robert Mickel John</h4></a>
                                        <a th:href="@{/entries/{id}(id=${secondPlace.getId()})}">
                                            <span th:text="${secondPlace.getTitle()}" >

                                                Light Weight Image
                                        </span>
                                        </a>
                                        <p><i class="fa fa-trophy"></i> Second Position</p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" style="color: black"
                               th:href="@{/contests/{id}(id=${contest.getId()})}" >
                                <h3 th:text="${contest.getTitle()}" >
                                Natural Beauty</h3></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30"
                         th:unless="${winners.get(contest).get(3) == null}"
                         th:each="thirdPlace : ${winners.get(contest).get(3)}">
                        <div class="single-winners">
                            <div class="images">
                                <a href="#"><img src="images/winners/3.jpg"
                                                 th:src="${thirdPlace.getPhoto().getPath()}" alt="Image"></a>
                                <div class="overley">
                                    <div class="winners-details">
                                        <a th:href="@{/users/{id}(id=${thirdPlace.getParticipant().getId()})}">
                                        <h4 th:text="${thirdPlace.getParticipant().getFirstName()} + ' '
                                         + ${thirdPlace.getParticipant().getLastName()}" >

                                                Robert Mickel John</h4></a>
                                        <a th:href="@{/entries/{id}(id=${thirdPlace.getId()})}">
                                        <span th:text="${thirdPlace.getTitle()}" >

                                                Light Weight Image

                                        </span>
                                        </a>
                                        <p><i class="fa fa-trophy"></i> Third Position</p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" style="color: black"
                               th:href="@{/contests/{id}(id=${contest.getId()})}">
                                <h3 th:text="${contest.getTitle()}" >
                                The Beauty Of Barns</h3></a>
                        </div>
                    </div>
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">-->
<!--                        <div class="single-winners">-->
<!--                            <div class="images">-->
<!--                                <a href="#"><img src="images/winners/13.jpg" alt="Image"></a>-->
<!--                                <div class="overley">-->
<!--                                    <div class="winners-details">-->
<!--                                        <h4>Robert Mickel John</h4>-->
<!--                                        <span>Light Weight Image</span>-->
<!--                                        <p><i class="fa fa-trophy"></i> Second Position</p>-->
<!--                                        <ul>-->
<!--                                            <li><i class="fa fa-eye"></i> 251</li>-->
<!--                                            <li><i class="fa fa-heart"></i> 125</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h3><a href="#">The Beauty Of Barns</a></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">-->
<!--                        <div class="single-winners">-->
<!--                            <div class="images">-->
<!--                                <a href="#"><img src="images/winners/14.jpg" alt="Image"></a>-->
<!--                                <div class="overley">-->
<!--                                    <div class="winners-details">-->
<!--                                        <h4>Robert Mickel John</h4>-->
<!--                                        <span>Light Weight Image</span>-->
<!--                                        <p><i class="fa fa-trophy"></i> Second Position</p>-->
<!--                                        <ul>-->
<!--                                            <li><i class="fa fa-eye"></i> 251</li>-->
<!--                                            <li><i class="fa fa-heart"></i> 125</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h3><a href="#">The Beauty Of Barns</a></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">-->
<!--                        <div class="single-winners">-->
<!--                            <div class="images">-->
<!--                                <a href="#"><img src="images/winners/15.jpg" alt="Image"></a>-->
<!--                                <div class="overley">-->
<!--                                    <div class="winners-details">-->
<!--                                        <h4>Robert Mickel John</h4>-->
<!--                                        <span>Light Weight Image</span>-->
<!--                                        <p><i class="fa fa-trophy"></i> Second Position</p>-->
<!--                                        <ul>-->
<!--                                            <li><i class="fa fa-eye"></i> 251</li>-->
<!--                                            <li><i class="fa fa-heart"></i> 125</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h3><a href="#">The Beauty Of Barns</a></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">-->
<!--                        <div class="single-winners">-->
<!--                            <div class="images">-->
<!--                                <a href="#"><img src="images/winners/16.jpg" alt="Image"></a>-->
<!--                                <div class="overley">-->
<!--                                    <div class="winners-details">-->
<!--                                        <h4>Robert Mickel John</h4>-->
<!--                                        <span>Light Weight Image</span>-->
<!--                                        <p><i class="fa fa-trophy"></i> Second Position</p>-->
<!--                                        <ul>-->
<!--                                            <li><i class="fa fa-eye"></i> 251</li>-->
<!--                                            <li><i class="fa fa-heart"></i> 125</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h3><a href="#">The Beauty Of Barns</a></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12 mb-md-30">-->
<!--                        <div class="single-winners">-->
<!--                            <div class="images">-->
<!--                                <a href="#"><img src="images/winners/17.jpg" alt="Image"></a>-->
<!--                                <div class="overley">-->
<!--                                    <div class="winners-details">-->
<!--                                        <h4>Robert Mickel John</h4>-->
<!--                                        <span>Light Weight Image</span>-->
<!--                                        <p><i class="fa fa-trophy"></i> Second Position</p>-->
<!--                                        <ul>-->
<!--                                            <li><i class="fa fa-eye"></i> 251</li>-->
<!--                                            <li><i class="fa fa-heart"></i> 125</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h3><a href="#">The Beauty Of Barns</a></h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-md-6 col-sm-12">-->
<!--                        <div class="single-winners">-->
<!--                            <div class="images">-->
<!--                                <a href="#"><img src="images/winners/18.jpg" alt="Image"></a>-->
<!--                                <div class="overley">-->
<!--                                    <div class="winners-details">-->
<!--                                        <h4>Robert Mickel John</h4>-->
<!--                                        <span>Light Weight Image</span>-->
<!--                                        <p><i class="fa fa-trophy"></i> Second Position</p>-->
<!--                                        <ul>-->
<!--                                            <li><i class="fa fa-eye"></i> 251</li>-->
<!--                                            <li><i class="fa fa-heart"></i> 125</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <h3><a href="#">The Beauty Of Barns</a></h3>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- Winner End Here -->

        <!-- Footer Area Section Start Here -->
    <div th:replace="fragments/general.html::footer"></div>
        <!-- Footer Area Section End Here -->

    <!-- jquery latest version -->
    <script src="../static/js/vendor/jquery-1.12.0.min.js" th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- bootstrap js -->
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl.carousel js -->
    <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- owl.carousel js -->
    <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- meanmenu js -->
    <script src="../static/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- jquery-ui js -->
    <script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
    <!-- wow js -->
    <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
    <!-- jquery.counterup js -->
    <script src="../static/js/jquery.counterup.min.js" th:src="@{/js/jquery.counterup.min.js}"></script>
    <script src="../static/js/waypoints.min.js" th:src="@{/js/waypoints.min.js}"></script>
    <!-- jquery light box -->
    <script src="../static/js/lightbox.min.js" th:src="@{/js/lightbox.min.js}"></script>
    <!-- isotope.pkgd.min js -->
    <script src="../static/js/isotope.pkgd.min.js" th:src="@{/js/isotope.pkgd.min.js}"></script>
    <!-- imagesloaded.pkgd.min js -->
    <script src="../static/js/imagesloaded.pkgd.min.js" th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <!-- magnific popup -->
    <script src="../static/js/jquery.magnific-popup.min.js" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- jQuery MixedIT Up -->
    <script src="../static/js/jquery.mixitup.min.js" th:src="@{/js/jquery.mixitup.min.js}"></script>
    <!-- Counter Down js -->
    <script src="../static/js/simplyCountdown.min.js" th:src="@{/js/simplyCountdown.min.js}"></script>
    <!-- jQuery Multistep form -->
    <script src="../static/js/multi_step_form.js" th:src="@{/js/multi_step_form.js}"></script>
    <!-- jquery.fancybox.pack js -->
    <script src="../static/inc/fancybox/jquery.fancybox.pack.js"
            th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
    <!-- plugins js -->
    <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
    <!-- jquery weave effects -->
    <script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
    <!-- TimeCircles js -->
    <script src="../static/js/TimeCircles.js" th:src="@{/js/TimeCircles.js}"></script>
    <!-- main js -->
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <!-- Player scorecard ends here -->

    </body>
</html>